html {
    height:190px;
}

body {
    padding-top: 0px;
    padding-bottom:0px;
    padding-left: 0px;
    padding-right: 0px;
    width:400px;
    font-size: 100%;
    line-height: 1.125em;
}

#login_container {
	margin-bottom: 0px;
}

li {
	height: 30px;
	margin-top: -2px;
}

.nav-bg {
    background:url(/img/bg-nav.png) repeat top left;
}

.nav-container, .nav, .topbar, .active, .nav-bg, .navbar-inner, .nav-bar, .active {
	min-height: 30px;
	height: 30px;
}

.nav>li>a {
	margin-top: 8px;
	margin-left: 5px;
	height: 24px;
	font-size: .9em;
	padding-left: 5px;
	padding-right: 5px;
}

a:focus {
	outline: none;
}

.nav>li>a:focus {
	outline: none;
	outline-offset: 0px;
}

.nav-container {
	width: 404px;
	margin-left: -2px;
}

.navbar-inner {
	padding: 0px;
}

.login-text {
    font-size:13px;
}

.nav {
	margin: 0 0 0 0;
}

.navbar {
	margin-top: -5px;
	margin-bottom:0px;
	padding: 0px
}

.container2 {
	margin-top: 0px;
	padding: 0px;
}

.content-container {
    margin-top:0px;
    padding: 0px;
}

@media (max-width: 767px) {
   .content-container{
        margin-top: 0px;
   }

}

.brand {
	height: 30px;
	min-height: 30px;
	border: 0px;
}

.logo {
	padding: 0px;
	margin-top: 3px;
    width:27px;
    height:27px;
}

.nav-prof-img {
    height:24px;
    width:24px;
}

.img-rounded {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

#chatuserbox {
	float: left;
	display: block;
	width: 150px;
	color: #d3d3d3;
	font-size: 0.75em;
	overflow-y: auto;
}

#chatmessage {
	float: right;
	display: block;
	width: 154px;
	height: 140px;
	background-color:#f5f5f5;
	overflow-y: auto;
	padding-left: 8px;
	padding-right: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	border:1px solid #e3e3e3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
}

#chatwrapper {
	width: 379px;
}

#chattingarea {
	float: right;
	width: 154px;
}

#textbox {
	float: right;
    border: 1px solid #d3d3d3s; 
    background-color: #ffffff;
    padding: 0px;
    outline:0; 
    font-size: 0.75em;
    height:20px; 
    width: 173px; 
 }
 
#messagebox {
    border: 1px solid #d3d3d3s; 
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    outline:0; 
    font-size: 0.8em;
    line-height: 15px;
    height:40px; 
    width: 378px; 
    resize: none;
 }

#submitmessage {
	display: block;
	float: right;
	font-size: .9em;
	width: 100px;
	height: 23px;
}
 
.chatuser_pic {
    min-width:24px;
    min-height:24px;
    margin-right:10px;
    white-space:normal;
    padding: 2px;
}

.chatuser_row {
	white-space: nowrap;
}

.their_message {
	float: left;
}

.my_message {
	float: right;
	text-align: right;
}

.date {
	color: #d3d3d3;
	font-size: .5em;
}

.message-name {
	color: #d3d3d3;
	font-size: .7em;
}

.right {
	text-align: right;
}

.pagefeed_item {
	display: block;
}

.message-text {
	color: #A9A9A9;
	font-size: .8em;
}

.unread {
	display: inline-block;
	width: 15px;
	font-size: 1em;
	color: blue;
}


#pagefeed {
	width: 378px;
	display: block;
	height: 115px;
	overflow-y: auto;
	font-size: 0.8em;
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
}

#stats {
	width: 350px;
	display: block;
	height: 80px;
	font-size: 0.8em;
	margin-bottom:0px;
}

.my_stats {
	font-size: 0.8em;
}

.all_stats {
	font-size: 0.8em;
}

.stat_title {
	color: #336699;
	font-weight: bold;
	font-size: 1.2em;
}


.well3 {
	min-height:20px;
	padding:10px;
	margin-bottom:00px;
}