html {
    height:250px;
}

body {
    padding-top: 0px;
    padding-bottom:15px;
    width:400px;
}

.nav-bg {
    background:url(/img/bg-nav.png) repeat top left;
}

.login-text {
    font-size:13px;
}