html {
    height:250px;
}

body {
    padding-top: 0px;
    padding-bottom:15px;
    width:400px;
}

.nav-bg {
    background:url(/img/bg-nav.png) repeat top left;
}

.login-text {
    font-size:13px;
}

.content-container {
    margin-top:70px;
}

@media (max-width: 767px) {
   .content-container{
        margin-top: 0px;
   }

}

.logo {
    width:27px;
    height:27px;
}