html {
    height: 190px;
}

body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 400px;
    font-size: 100%;
    line-height: 1.125em;
    color: #5a595c;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
    box-shadow: none;
}

.stat_table {
    width: 100%;
    top: -10px;
    position: relative;
    display: block;
}

.older0 {
    border: #ffff00 solid 2px;
    margin: 0px;
}

.older1 {
    opacity: .9;
}

.older2 {
    opacity: .75;
}

.older3 {
    opacity: .6;
}

.ago-time {
    font-size: 9px;
    line-height: 9px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: -5px;
    color: #767676;
}

.stat_table td {
    padding-left: 6px;
    padding-right: 6px;
}

#navSubLinks {
    font-size: .9em;
}

.green {
    color: #00cc89;
    font-weight: bold;
}

.red {
    color: #ee7b7b;
    font-weight: bold;
}

#login_container {
    padding: 55px 35px 75px 35px;
    background: #fcfcfc;
}

#errors {
    font-size: 11px;
}

#login {
    width: 100%;
    padding: 5px 0;
    height: auto;
    margin-bottom: 5px;
}

#login:hover {
}

.eyebrowse-logo {
    font-family: Lato, Helvetica, Arial, Sans-Serif;
    text-align:center;
    font-weight: 300;
    font-size: 1.4em;
    margin-bottom: 20px
}

#id_username, #id_password {
    border-radius: 0;
    padding: 5px 8px;
    margin-bottom: 7px
}

li {
    height: 30px;
    margin-top: -2px;
}

.nav-container,
.nav,
.topbar,
.active,
.nav-bg,
.navbar-inner,
.nav-bar,
.active {
    min-height: 30px;
    height: 30px;
}

.nav>li>a {
    margin-left: 5px;
    height: 24px;
    font-size: .9em;
    padding: 8px 7px 0 7px;
    cursor: pointer;
}

a:focus {
    outline: none;
}

.nav>li>a:focus {
    outline: none;
    outline-offset: 0px;
}

.nav-container {
    width: 404px;
    margin-left: -2px;
}

.navbar-inner {
    background: #f9f9f9;
    background-image: none;
}

.login-text {
    font-size: 11px;
}

.nav {
    margin: 0 0 0 0;
}

.navbar {
    margin-top: -5px;
    margin-bottom: 0px;
    padding: 2px 0;
}

.container2 {
    margin-top: 0px;
    padding: 5px 0 0 0;
}

.content-container {
    margin-top: 0px;
    padding: 0px;
}

@media (max-width: 767px) {
    .content-container {
        margin-top: 0px;
    }
}

@media (max-width: 979px) {
    .navbar .brand {
        padding-left: 0;
    }
}

.brand {
    height: 30px;
    min-height: 30px;
    border: 0px;
}

.logo {
    padding: 0px 0px 3px 5px;
    margin-top: 3px;
    width: 27px;
    height: 27px;
}

.btn {

}

.nav-prof-img {
    height: 24px;
    width: 24px;
    margin-right: 5px;
    float: left;
}

.nav-prof-img2 {
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

.img-rounded {
    border-radius: 6px;
}

#chatuserbox {
    float: left;
    display: block;
    width: 130px;
    height: 195px;
    color: #d3d3d3;
    font-size: 0.75em;
    overflow-y: auto;
    position: relative;
    top: 10px;
    left: 0px;
    padding: 4px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

#chatmessage {
    float: right;
    display: block;
    position: relative;
    top: 10px;
    width: 204px;
    height: 134px;
    background-color: #f9f9f9;
    overflow-y: auto;
    padding-left: 8px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
    font-size: .8em;
    border-radius: 4px;
}

.chattitle {
    color: #000000;
}

.chatheader {
    font-weight: bold;
    color: #5a595c;
}

.name {
    color: #000000;
    line-height: 10px;
    margin: 0px;
    padding: 0px;
}

#chatwrapper {
    width: 379px;
    height: 200px;
}

#lowerarea {
    position: relative;
    top: -20px;
    height: 225px;
}

#chattingarea {
    float: right;
    width: 224px;
    height: 160px;
}

#navlinks {
    position: relative;
    top: 5px;
    left: 10px;
    font-size: .9em;
    height: 40px;
    width: 380px;
    border-bottom: 1px solid #a9a9a9;
    padding: 5px 0;
}

#navlinks .link {
    font-size: .9em;
    color: #336699;
}

#navlinks .link {
    font-size: .9em;
    color: #336699;
}

#navlinks img {
    height: 32px;
    width: 32px;
}

#userpic {
    /*float: left;*/
    width: 35px;
}

#rightnav {
    width: 345px;
    position: relative;
    left: 5px;
    top: -32px;
    float: right;
}

#username {
    font-size: 1em;
    font-weight: bold;
}

#textbox {
    position: relative;
    top: 10px;
    float: right;
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
    padding: 0px;
    outline: 0;
    font-size: 0.75em;
    height: 30px;
    width: 224px;
    padding: 3px 6px;
}

.mentions-input-box {
    float: left;
}

#messagebox {
    border: 1px solid #d3d3d3;
    padding: 3px 6px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: 0;
    font-size: 0.75em;
    line-height: 15px;
    width: 280px;
    resize: none;
    border-radius: 0;
}

.btn {
    display: block;
    float: right;
    font-size: 11px;
    padding: 1px;
    margin: 1px;
    margin-top: 10px;
    width: 80px;
    height: 28px;
    float: right;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 50px;
    color: #aaa;
    transition: background 0.3s ease-in-out;
    text-shadow: none;
}

/*#submitmessage {
    display: block;
    float: right;
    font-size: 11px;
    padding: 1px;
    margin: 1px;
    margin-top: 10px;
    width: 80px;
    height: 28px;
    float: right;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 50px;
    color: #666;
    transition: background-color 0.3s ease-in;
}*/

.btn:hover {
    background: #ccc;
    color: #fff;
}

.fb-label {
    font-size: 11px;
    margin-top: 3px;
}

input[type="checkbox"] {
    margin: 3px 5px 0 20px;
}

.chatuser_pic {
    min-width: 24px;
    min-height: 24px;
    margin-right: 10px;
    white-space: normal;
    padding: 2px;
}

.chatuser_row {
    white-space: nowrap;
}

.their_message {
    float: left;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.my_message {
    float: right;
    text-align: right;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.date {
    color: #a9a9a9;
    ;
    font-size: .6em;
    line-height: 1.2em;
    cursor: default;
}

.message-name {
    color: #d3d3d3;
    font-size: .7em;
}

.right {
    text-align: right;
}

.pagefeed_text {
    display: block;
    padding: 5px 5px 5px 5px;
    border: 1px solid #e3e3e3;
    color: #000000;
    background-color: #ffffff;
    border-radius: 4px;
}

.pagefeed_item {
    display: block;
    margin: 5px 5px 5px 5px;
}

.pagefeed_item:hover {
    background-color: #f0f4f9;
}

.pagefeed_item2 {
    display: block;
    line-height: 12px;
    margin: 0px 10px 0px 5px;
}

.message-text {
    color: #000000;
    font-size: .9em;
    line-height: 1.4em;
}

.unread {
    display: inline-block;
    width: 15px;
    font-size: 1em;
    color: blue;
}

#pagefeed {
    width: 368px;
    display: block;
    height: 115px;
    overflow-y: auto;
    font-size: 0.8em;
    padding: 1px;
    background-color: #f9f9f9;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

#stats {
    width: 100%;
    display: block;
    height: 45px;
    font-size: 0.8em;
    margin-bottom: 16px;
    line-height: 1.1em;
}

#btitle {
    padding-bottom: 0px;
    font-size: .8em;
    font-weight: bold;
    position: relative;
}

#btitle2 {
    padding-bottom: 0px;
    font-size: .8em;
    font-weight: bold;
    position: relative;
    top: 10px;
}

.my_stats {
    font-size: 0.8em;
}

.all_stats {
    font-size: 0.8em;
}

.stat_title a {
    color: #336699;
    font-weight: bold;
    font-size: 1em;
}

a:hover {
    color: #e5b75b;
    text-decoration: none;
}

.well3 {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 00px;
}

.value_wrapper {
    font-size: 0.8em;
}

.value_container {
    padding: 12px 0px;
    border-bottom: 1px solid #eee;
}

.value_container::after {
    content:"";
    display:block;
    clear:both;
}

.value_container:hover {
    background-color: #f9f9f9;
}

.subtitle {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0;
}

.autogenerated_values, .usergenerated_values {
    margin: 7px 10px 0 10px;
}

.value_box {
    border-radius: 50px;
    padding: 8px 20px;
    box-shadow: 0 0 2px #eee;
    transition: opacity 0.2s ease-in-out;
    float: left;
}

.value_desc {
    padding-top: 0px;
    padding-left: 20px;
    width: 200px;
    text-align: right;
    float: right;
}

.value_boxes {
    padding: 5px 20px 10px 20px;
}

.value_subtext {
    padding: 20px 30px 0px 30px;
    font-weight: bold;
}

.value_page_info {
    border-bottom: 1px solid #eee;
    padding: 15px 40px;
    font-size: 1.1em;
    margin-top: 15px;
}

.value_page_title {
    font-weight: 600;
}

.value_page_domain {
    color: #bbb;
    font-size: 0.8em;
}

.favicon {
    width: 13px;
    height: 13px;
    margin-top: -3px;
}

.value_highlight_btn {
    border-top: 1px solid #eee;
    padding: 15px 0;
}

.highlighting_toggle {
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: -2px 2px 4px #eee;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.turn_off {
    background-color: #ddd;
    color: #2b2a2d;
    transition: background-color 0.3s ease-in-out;
}

.turn_off:hover {
    background-color: #bbb;
}

.turn_on {
    background-color: #bef4c1;
    color: #2b2a2d;
    transition: background-color 0.3s ease-in-out;
}

.turn_on:hover {
    background-color: #9ff4a5;
}

.value_tabs {
    border-bottom: 1px solid #f2f2f2;
}

.value_tab_nav {
    position: relative;
    width: 380px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.5px;
    cursor: pointer;
    margin-top: 15px;
}

.value_tab_nav li {
    list-style-type: none;
    display: inline-block;
    padding: 0 12px;
    color: #bbb;
}

.value_tab_nav li.active {
    border-bottom: 3px solid #474444;
    color: #474444;
}

.value_comps {
    padding: 13px;
    background-color: #f8f8f8;
    text-align: center;
}

.story_container {
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: -1px 1px 2px #eee;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: #fff;
    text-align: left;
}

.story_container:hover {
    background-color: #f0f4f9;
    color: #5a595c;
    cursor: pointer;
}

.story_title {
    font-weight: bolder;
}

.story_source {
    font-size: 11px;
    color: #ccc;
}

.story_desc {
    margin-top: 8px;
    font-size: 11.5px;
    font-family: Georgia, Cambria, Serif;
}

.story_tags {
    margin-top: 10px;
}

.story_tag {
    padding: 3px 5px;
    display: inline-block;
    border-radius: 500px;
    margin: 2px 8px 2px 0px;
    min-width: 60px;
    text-align: center;
    font-size: 11px;
}

.story_hl_count {
    float: right;
    margin-top: -23px;
}

.value_summary_box {
    padding: 20px 30px 30px 30px;
}

.value_summary_text {
    min-height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

.value_summary_header {
    font-weight: bold;
}

.value_summary_subtitle {
    margin-bottom: 3px;
    margin-top: 5px;
}

.value_summary_tags {
    margin-bottom: 5px;
}

.subtext-dark {
    font-size: 11px;
    color: #666;
}

.subtext-light {
    font-size: 11px;
    color: #bbb;
}

.value_summary_helpertext {
    opacity: 0;
    font-size: 11px;
    height: 12px;
    color: #aaa;
    padding-bottom: 10px;
}

.danger {
    color: #ee7b7b;
}

.logout-intermediate {
    text-align: center;
    margin-top: 50px;
    color: #aaa;
}

.logout-text {
    margin-top: 15px;
    font-size: 0.8em;
}