.eyebrowse-frame {
    z-index: 999999999 !important;
    position: fixed !important;
    display: block !important;
    background-color: #333333 !important;
    right: 26px !important;
    top: 12px !important;
    padding: 10px 11px 8px 11px !important;
    width: 250px !important;
    height: 100px !important;
    text-align: center !important;
    -webkit-border-radius: 13px !important;
    -moz-border-radius: 13px !important;
    border-radius: 13px !important;
}

.eyebrowse-bubble-frame:after {
    content: '';
    position: absolute !important;
    border-style: solid !important;
    border-width: 0 10px 10px !important;
    border-color: #FFFFFF transparent !important;
    display: block !important;
    width: 0 !important;
    z-index: 1 !important;
    top: -7px !important;
    right: 7px !important;
}

.eyebrowse-bubble-frame:before {
    content: '';
    position: absolute !important;
    border-style: solid !important;
    border-width: 0 11px 11px !important;
    border-color: #333333 transparent !important;
    display: block !important;
    width: 0 !important;
    z-index: 0 !important;
    top: -12px !important;
    right: 6px !important;
}

.eyebrowse-bubble-frame {
    padding: 3px 2px 4px 4px !important;
    max-width: 390px !important;
    min-width: 40px !important;
    /* width is set by js */
    height: 32px !important;
    background: #FFFFFF !important;
    border: #333333 solid 3px !important;

    webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.eyebrowse-bubble-msg-container {
    font-size: 9px !important;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
    line-height: 11px !important;
    display: inline !important;
    max-width: 160px !important;
    /* width set in js */
    position: relative !important;
}

.eyebrowse-bubble-user-container {
  /* top set in js */
    top: -5px !important;
    right: 5px !important;
    height: 30px !important;
    margin: 0px 0px 0px 5px !important;
    display: inline-block !important;
}

.eyebrowse-bubble-user-icon {
  margin: 1px !important;
  border: 0px !important;
  padding: 0px !important;
  height: 20px !important;
  width: 20px !important;
}

.eyebrowse-bubble-old-level-0 {
  height: 18px !important;
  width: 18px !important;
  border: #ffff00 solid 2px !important;
  margin: 0px !important;
}

.eyebrowse-bubble-old-level-1 {
  opacity: .9 !important;
}

.eyebrowse-bubble-old-level-2 {
  opacity: .75 !important;
}

.eyebrowse-bubble-old-level-3 {
  opacity: .6 !important;
}

.eyebrowse-close {
  float: right !important;
  font-size: 21px !important;
  font-weight: lighter !important;
  line-height: 1 !important;
  color: #fff !important;
  filter: alpha(opacity=20) !important;
  opacity: .95;
}

.eyebrowse-bubble-close {
  font-size: 15px !important;
  color: #000 !important;
}

button.eyebrowse-close {
  -webkit-appearance: none !important;
  padding: 0 !important;
  cursor: pointer !important;
  background: 0 0 !important;
  border: 0 !important;
}

.eyebrowse-prompt-msg {
    font-size: 15px !important;
    font-weight: bold;
    font-family: verdana !important;
    color: #ffffff !important;
}

.eyebrowse-btn-container {
    width: auto !important;
    height: auto !important;
}

.eyebrowse-btn  {
    color: #fff !important;
    padding: 6px 12px !important;
    margin: 3px 3px 3px 3px !important;
    box-shadow: 0px 0px 0px 0px !important;
    text-transform: capitalize !important;
    font-weight: none !important;
    line-height: 14px !important;
    width: auto !important;
    height: auto !important;
    font-size: 14px !important;
    cursor: pointer !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}

.eyebrowse-allow-btn {
    background-color: #5cb85c !important;
    background: #5cb85c !important;
    border-color: #4cae4c !important;
}

.eyebrowse-deny-btn {
    background-color: #f0ad4e !important;
    background: #f0ad4e !important;
    border-color: #eea236 !important;
}

/* http://stackoverflow.com/questions/15901030/reset-remove-css-styles-for-element-only */
.eyebrowse-reset {
    animation : none !important;
    animation-delay : 0 !important;
    animation-direction : normal !important;
    animation-duration : 0 !important;
    animation-fill-mode : none !important;
    animation-iteration-count : 1 !important;
    animation-name : none !important;
    animation-play-state : running !important;
    animation-timing-function : ease !important;
    backface-visibility : visible !important;
    background : 0 !important;
    background-attachment : scroll !important;
    background-clip : border-box !important;
    background-color : transparent !important;
    background-image : none !important;
    background-origin : padding-box !important;
    background-position : 0 0 !important;
    background-position-x : 0 !important;
    background-position-y : 0 !important;
    background-repeat : repeat !important;
    background-size : auto auto !important;
    border : 0 !important;
    border-style : none !important;
    border-width : medium !important;
    border-color : inherit !important;
    border-bottom : 0 !important;
    border-bottom-color : inherit !important;
    border-bottom-left-radius : 0 !important;
    border-bottom-right-radius : 0 !important;
    border-bottom-style : none !important;
    border-bottom-width : medium !important;
    border-collapse : separate !important;
    border-image : none !important;
    border-left : 0 !important;
    border-left-color : inherit !important;
    border-left-style : none !important;
    border-left-width : medium !important;
    border-radius : 0 !important;
    border-right : 0 !important;
    border-right-color : inherit !important;
    border-right-style : none !important;
    border-right-width : medium !important;
    border-spacing : 0 !important;
    border-top : 0 !important;
    border-top-color : inherit !important;
    border-top-left-radius : 0 !important;
    border-top-right-radius : 0 !important;
    border-top-style : none !important;
    border-top-width : medium !important;
    bottom : auto !important;
    box-shadow : none !important;
    box-sizing : content-box !important;
    caption-side : top !important;
    clear : none !important;
    clip : auto !important;
    color : inherit !important;
    columns : auto !important;
    column-count : auto !important;
    column-fill : balance !important;
    column-gap : normal !important;
    column-rule : medium none currentColor !important;
    column-rule-color : currentColor !important;
    column-rule-style : none !important;
    column-rule-width : none !important;
    column-span : 1 !important;
    column-width : auto !important;
    content : normal !important;
    counter-increment : none !important;
    counter-reset : none !important;
    cursor : auto !important;
    direction : ltr !important;
    display : inline !important;
    empty-cells : show !important;
    float : none !important;
    font : normal !important;
    font-family : inherit !important;
    font-size : medium !important;
    font-style : normal !important;
    font-variant : normal !important;
    font-weight : normal !important;
    height : auto !important;
    hyphens : none !important;
    left : auto !important;
    letter-spacing : normal !important;
    line-height : normal !important;
    list-style : none !important;
    list-style-image : none !important;
    list-style-position : outside !important;
    list-style-type : disc !important;
    margin : 0 !important;
    margin-bottom : 0 !important;
    margin-left : 0 !important;
    margin-right : 0 !important;
    margin-top : 0 !important;
    max-height : none !important;
    max-width : none !important;
    min-height : 0 !important;
    min-width : 0 !important;
    opacity : 1 !important;
    orphans : 0 !important;
    outline : 0 !important;
    outline-color : invert !important;
    outline-style : none !important;
    outline-width : medium !important;
    overflow : visible !important;
    overflow-x : visible !important;
    overflow-y : visible !important;
    padding : 0 !important;
    padding-bottom : 0 !important;
    padding-left : 0 !important;
    padding-right : 0 !important;
    padding-top : 0 !important;
    page-break-after : auto !important;
    page-break-before : auto !important;
    page-break-inside : auto !important;
    perspective : none !important;
    perspective-origin : 50% 50% !important;
    position : static !important;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019' !important;
    right : auto !important;
    tab-size : 8 !important;
    table-layout : auto !important;
    text-align : inherit !important;
    text-align-last : auto !important;
    text-decoration : none !important;
    text-decoration-color : inherit !important;
    text-decoration-line : none !important;
    text-decoration-style : solid !important;
    text-indent : 0 !important;
    text-shadow : none !important;
    text-transform : none !important;
    top : auto !important;
    transform : none !important;
    transform-style : flat !important;
    transition : none !important;
    transition-delay : 0s !important;
    transition-duration : 0s !important;
    transition-property : none !important;
    transition-timing-function : ease !important;
    unicode-bidi : normal !important;
    vertical-align : baseline !important;
    visibility : visible !important;
    white-space : normal !important;
    widows : 0 !important;
    width : auto !important;
    word-spacing : normal !important;
    z-index : auto !important;
}
