.eyebrowse-frame {
    z-index: 999999999 !important;
    position: fixed !important;
    display: block !important;
    background-color: #333333 !important;
    right: 26px !important;
    top: 12px !important;
    padding: 10px 11px 8px 11px !important;
    width: 250px !important;
    height: 100px !important;
    text-align: center !important;
    -webkit-border-radius: 13px !important;
    -moz-border-radius: 13px !important;
    border-radius: 13px !important;
}

.eyebrowse-bubble-frame:after {
    content: '';
    position: absolute !important;
    border-style: solid !important;
    border-width: 0 10px 10px !important;
    border-color: #FFFFFF transparent !important;
    display: block !important;
    width: 0 !important;
    z-index: 1 !important;
    top: -7px !important;
    right: 7px !important;
}

.eyebrowse-bubble-frame:before {
    content: '';
    position: absolute !important;
    border-style: solid !important;
    border-width: 0 11px 11px !important;
    border-color: #333333 transparent !important;
    display: block !important;
    width: 0 !important;
    z-index: 0 !important;
    top: -12px !important;
    right: 6px !important;
}

.eyebrowse-bubble-frame {
    padding: 3px 2px 4px 4px !important;
    max-width: 390px !important;
    min-width: 40px !important;
    /* width is set by js */
    height: 32px !important;
    background: #FFFFFF !important;
    border: #333333 solid 3px !important;

    webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.eyebrowse-bubble-msg-container {
    font-size: 9px !important;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
    line-height: 11px !important;
    display: inline !important;
    max-width: 160px !important;
    /* width set in js */
    position: relative !important;
    top: -10px !important;
}

.eyebrowse-bubble-user-wrapper {
    position: relative !important;
    top: -5px !important;
    right: 5px !important;
    height: 30px !important;
    display: inline-block !important;
    margin: 0px 26px 0px 5px !important;
}

.eyebrowse-bubble-user-container {
  /* top set in js */
  display: inline-block !important;
  position: relative !important;
  height: 22px !important;
}

.eyebrowse-bubble-user-icon {
  margin: 1px !important;
  border: 0px !important;
  padding: 0px !important;
  height: 20px !important;
  width: 20px !important;
}

.eyebrowse-bubble-old-level-0 {
  height: 18px !important;
  width: 18px !important;
  border: #ffff00 solid 2px !important;
  margin: 0px !important;
}

.eyebrowse-bubble-old-level-1 {
  opacity: .9 !important;
}

.eyebrowse-bubble-old-level-2 {
  opacity: .75 !important;
}

.eyebrowse-bubble-old-level-3 {
  opacity: .6 !important;
}

.eyebrowse-close {
  float: right !important;
  font-size: 21px !important;
  font-weight: lighter !important;
  line-height: 1 !important;
  color: #fff !important;
  filter: alpha(opacity=20) !important;
  opacity: .95;
}

.eyebrowse-bubble-close {
  font-size: 15px !important;
  color: #000 !important;
}

button.eyebrowse-close {
  -webkit-appearance: none !important;
  padding: 0 !important;
  cursor: pointer !important;
  background: 0 0 !important;
  border: 0 !important;
}

.eyebrowse-prompt-msg {
    font-size: 15px !important;
    font-weight: bold;
    font-family: verdana !important;
    color: #ffffff !important;
}

.eyebrowse-btn-container {
    width: auto !important;
    height: auto !important;
}

.eyebrowse-btn  {
    color: #fff !important;
    padding: 6px 12px !important;
    margin: 3px 3px 3px 3px !important;
    box-shadow: 0px 0px 0px 0px !important;
    text-transform: capitalize !important;
    font-weight: none !important;
    line-height: 14px !important;
    width: auto !important;
    height: auto !important;
    font-size: 14px !important;
    cursor: pointer !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}

.eyebrowse-allow-btn {
    background-color: #5cb85c !important;
    background: #5cb85c !important;
    border-color: #4cae4c !important;
}

.eyebrowse-deny-btn {
    background-color: #f0ad4e !important;
    background: #f0ad4e !important;
    border-color: #eea236 !important;
}

/* http://stackoverflow.com/questions/15901030/reset-remove-css-styles-for-element-only */
.eyebrowse-reset {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}
