<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title id="page_title"> Eyebrowse </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!--  styles -->
        <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="css/bootstrap-responsive.min.css" />
        
        <link type="text/css" rel="stylesheet" href="http://eyebrowse.herokuapp.com/static/common/css/base.css" />

        <link type="text/css" rel="stylesheet" href="css/popup.css" />
        
    </head>
  
    <body>
        <div class="nav-container"></div>

        <div class="container">
            <div class="subnav-container"></div>
            <div class="content-container"></div>
        </div>
        
        <!-- BEGIN: Underscore Template Definition. -->
        
        <!-- Nav template -->
        <script type="text/template" id="nav_template">

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner nav-bg">
                <a class="brand" href="<%= baseUrl %>/">
                    <img class="logo" src="/img/eye.png"/> eyebrowse
                </a>
                <ul class="nav topbar">
                    <% if( loggedIn ) { %>
                        <li id="home_tab" class="nav-tab">
                            <a href="<%= baseUrl %>">Home</a>
                        </li>
                        <li id="logout">
                            <a href="<%= baseUrl %>/accounts/logout/">Logout</a>
                        </li>
                    <%} else {%>
                        <li id="login_tab" class="nav-tab">
                            <a href="<%= baseUrl %>/accounts/login/">Login</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>

        </script>

        <!-- Login template -->
        <script type="text/template" id="login_template">

            <div class="row">
                <div id="login_container" class="offset2 span4 well">
                    <div id="errors" class="alert alert-error"></div>
                    <p>
                        <input id="id_username" type="text" placeholder="Username or Email" name="username" maxlength="30" />
                    </p>
                    <p>
                        <input type="password" placeholder="Password" name="password" id="id_password" />
                    </p>

                    <input class="btn btn-primary" data-loading-text="Loading..." id="login" type="submit" value="Login" />
                    <a href="<%= baseUrl %>/accounts/password/reset/"> Forgot Password? </a> 

                    <input type="hidden" name="next" value="" />
                </div>
            </div>

        </script>

        <!-- Welcome template -->
        <script type="text/template" id="splash_template">

            <div class="row well">
                    <h2>Welcome to Eyebrowse!</h2>
                    <p> Click below to go to the main site </p>
                    <p>
                        <a href="<%= baseUrl %>/accounts/profile/edit" class="btn btn-primary">
                            Manage Settings
                        </a>
                    </p>
            </div>

        </script>


        <!-- END: Underscore Template Definition. -->

        <!--  javascript -->
        <script type="text/javascript" src="libs/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="libs/underscore.js"></script>
        <script type="text/javascript" src="libs/backbone.js"></script>
         <script type="text/javascript" src="libs/bootstrap-button.js"></script>
        <script type="text/javascript" src="libs/sprintf-0.7-beta1.js"></script>
        <script type="text/javascript" src="js/popup.js"></script>
    </body>
</html>