<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title id="page_title"> Eyebrowse </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!--  styles -->
        <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="../css/bootstrap-responsive.min.css" />
        <link type="text/css" rel="stylesheet" href="../css/jquery.mentionsInput.css" />
        <link type="text/css" rel="stylesheet" href="../css/popup.css" />

    </head>

    <body>
        <div class="nav-container"></div>

        <div class="container2">
            <div class="content-container"></div>
        </div>

        <!-- BEGIN: Underscore Template Definition. -->
        <!-- Nav template -->
        <script type="text/template" id="nav_template">

        <div class="navbar">
            <div class="navbar-inner nav-bg">
                <a class="brand" href="<%= baseUrl %>">
                    <img class="logo" src="/img/eye.png"/>
                </a>
                <ul class="nav topbar">
                    <% if( loggedIn ) { %>
                        <li id="home_tab" class="nav-tab active">
                            <a href="<%= baseUrl %>">Home</a>
                        </li>
                        <li id="settings">
                        	<a href="<%= baseUrl %>/accounts/profile/edit" target="_blank">Settings</a>
                        </li>
                        <li id="logout">
                            <a href="<%= baseUrl %>/accounts/logout/">Logout</a>
                        </li>
                    <%} else {%>
                        <li id="login_tab" class="nav-tab">
                            <a href="<%= baseUrl %>/accounts/login/">Login</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>

        </script>

        <!-- Login template -->
        <script type="text/template" id="login_template">

            <div class="row">
                <div id="login_container" class="offset2 span4 well">
                    <div id="errors" class="alert alert-error"></div>
                    <p>
                        <input id="id_username" type="text" placeholder="Username" name="username" maxlength="30" />
                    </p>
                    <p>
                        <input type="password" placeholder="Password" name="password" id="id_password" />
                    </p>

                    <input class="btn btn-primary btn-small" data-loading-text="Loading..." id="login" type="submit" value="Login" />
                    <a class="login-text" href="<%= baseUrl %>/accounts/password/reset/">Forgot Password?</a>
                    <a href="<%= baseUrl %>/accounts/register/" class="login-text">Create Account </a>
                    <input type="hidden" name="next" value="" />
                </div>
            </div>

        </script>

        <!-- Welcome template -->
        <script type="text/template" id="splash_template">
    <div id="navlinks">
      <div id="userpic"></div>
      <div id="rightnav">
        <div id="username"></div>
        <div id="navSubLinks"></div>
      </div>
    </div>
    <div class="row well3 offset1 span4" id="upperarea">
      <div id="stats"></div>
      <div id="btitle">Bulletin Board</div>
            <div id="pagefeed"></div>
          <textarea id="messagebox" maxlength=300 class="mention" placeholder="Post a Note to this page and to your Eyebrowse feed simultaneously"></textarea>
          <button id="submitmessage">Submit</button>
        </div>
          <div class="row well3 offset1 span4" id="lowerarea">
            <div id="chatwrapper">
                <div id="chatuserbox"></div>
                <div id="chattingarea">
                <div id="btitle2">Chat Room</div>
                <div id="chatmessage"></div>
                <textarea class="mention" type="text" maxlength=2000 id="textbox" placeholder="Post a Chat Message to this page"></textarea>
                </div>
            </div>

          </div>

        </script>

        <!-- page feed template -->
        <script type="text/template" id="page-feed-template">
          <div class="pagefeed_item">
            <span class="pagefeed_text">
              <a target="_blank" href="<% user_url %>">
                <img align="left" src="<%= pic_url %>" title="<%= username %>"
                class="nav-prof-img2 img-rounded">
              </a>
                  <%= message %>
              <div class="right">
                <span class="message-name">
                  <a target="_blank" href="<%= user_url %>"> <%= username %> </a>
                </span>
              <span class="date"> <%= hum_time %> </span>
              </div>
            </span>
          </div>

        </script>

        <!-- chat user template -->
        <script type="text/template" id="chat-user-template">
          <div id="<%= username %>">
            <a target="_blank" href="<%= user_url %>">
              <img src="<%= pic_url %>" title="<%= username %>"
                class="nav-prof-img img-rounded older<%=old_level%>">
              <span class="name"> <%= username %> </span>
            </a><br>
            <span class="ago-time"> <%= time_ago %> ago </span>
          </div>
        </script>

        <!-- own chat message template -->
        <script type="text/template" id="own-chat-msg-template">
            <div class="my_message">
              <div class="message-text"> <%= message %> </div>
              <div class="date"> <%= hum_time %> </div>
            </div>
        </script>

        <!-- their chat message template -->
        <script type="text/template" id="their-chat-msg-template">
            <div class="their_message">
              <div class="message-text"> <%= message %> </div>
              <div class="date">
                <a target="_blank" href="<%= user_url %>">
                  <%= author %>
                </a>
                <%= hum_time %>
              </div>
            </div>
        </script>

        <!-- stats template -->
        <script type="text/template" id="stats-template">
          <table class="stat_table">
            <tr>
              <td>
                <div class="stat_title">
                  <a target="_blank" href="<%= window.g_url %>">
                    This Page
                  </a>
                </div>
                <div class="my_stats">
                  Me: <%= my_count %> in <%= my_time %>
                  <br>
                  Everyone: <%= total_count %> in <%= total_time %>
                </div>
              </td>
              <td>
              <div class="stat_title">
                <a target="_blank" href="http://<%= host %>">
                 <%= host %>
                </a>
              </div>
              <div class="my_stats">
                Me: <%= my_dcount %> in <%= my_dtime %>
                <br>
                Everyone: <%= total_dcount %> in <%= total_dtime %>
              </div>
            </tr>
          </table>
        </script>
        <!-- END: Underscore Template Definition. -->

        <!--  javascript -->

        <!-- libs -->
        <script type="text/javascript" src="../libs/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="../libs/underscore.min.js"></script>
        <script type="text/javascript" src="../libs/backbone.min.js"></script>
         <script type="text/javascript" src="../libs/bootstrap-button.min.js"></script>
        <script type="text/javascript" src="../libs/sprintf-0.7-beta1.min.js"></script>
        <script type="text/javascript" src="../libs/moment.min.js"></script>
        <script type="text/javascript" src="../libs/jquery.mentionsInput.js"></script>

        <!-- scripts -->
        <script type="text/javascript" src="../js/common.js"></script>
        <script type="text/javascript" src="../js/popup.js"></script>
    </body>
</html>
