<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title id="page_title"> Eyebrowse </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!--  styles -->
        <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="../css/bootstrap-responsive.min.css" />

        <link type="text/css" rel="stylesheet" href="../css/popup.css" />
        
    </head>
  
    <body>
        <div class="nav-container"></div>

        <div class="container2">
            <div class="content-container"></div>
        </div>
        
        <!-- BEGIN: Underscore Template Definition. -->
        
        <!-- Nav template -->
        <script type="text/template" id="nav_template">

        <div class="navbar">
            <div class="navbar-inner nav-bg">
                <a class="brand" href="<%= baseUrl %>">
                    <img class="logo" src="/img/eye.png"/>
                </a>
                <ul class="nav topbar">
                    <% if( loggedIn ) { %>
                        <li id="home_tab" class="nav-tab active">
                            <a href="<%= baseUrl %>">Home</a>
                        </li>
                        <li id="settings">
                        	<a href="<%= baseUrl %>/accounts/profile/edit" target="_blank">Settings</a>
                        </li>
                        <li id="logout">
                            <a href="<%= baseUrl %>/accounts/logout/">Logout</a>
                        </li>
                    <%} else {%>
                        <li id="login_tab" class="nav-tab">
                            <a href="<%= baseUrl %>/accounts/login/">Login</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>

        </script>

        <!-- Login template -->
        <script type="text/template" id="login_template">

            <div class="row">
                <div id="login_container" class="offset2 span4 well">
                    <div id="errors" class="alert alert-error"></div>
                    <p>
                        <input id="id_username" type="text" placeholder="Username or Email" name="username" maxlength="30" />
                    </p>
                    <p>
                        <input type="password" placeholder="Password" name="password" id="id_password" />
                    </p>

                    <input class="btn btn-primary btn-small" data-loading-text="Loading..." id="login" type="submit" value="Login" />
                    <a class="login-text" href="<%= baseUrl %>/accounts/password/reset/">Forgot Password?</a>
                    <a href="<%= baseUrl %>/accounts/register/" class="login-text">Create Account </a>
                    <input type="hidden" name="next" value="" />
                </div>
            </div>

        </script>

        <!-- Welcome template -->
        <script type="text/template" id="splash_template">

			<div class="row well3 offset1 span4">
				<div id="stats"></div>
	            <div id="pagefeed"></div>
		        <textarea id="messagebox">Leave a Scribble</textarea>
		        <button id="submitmessage">Submit Scribble</button>
	        </div>
            <div class="row well3 offset1 span4">
            	<div id="chatwrapper">
            		<div id="to_area">
            		To: <input type="text" id="to_field">
            		</div>
	                <div id="chatuserbox"></div>
	                <div id="chattingarea">
	                <div id="chatmessage"></div>
	                <input type="text" readonly="readonly" id="textbox">
	                </div>
	            </div>
                
            </div>

        </script>


        <!-- END: Underscore Template Definition. -->

        <!--  javascript -->
        <script type="text/javascript" src="../libs/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="../libs/underscore.js"></script>
        <script type="text/javascript" src="../libs/backbone.js"></script>
         <script type="text/javascript" src="../libs/bootstrap-button.js"></script>
        <script type="text/javascript" src="../libs/sprintf-0.7-beta1.js"></script>
        <script type="text/javascript" src="../libs/moment.min.js"></script>
        <script type="text/javascript" src="../js/popup.js"></script>
    </body>
</html>