<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title id="page_title"> Eyebrowse </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!--  styles -->
        <link rel="stylesheet" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="../css/jquery.mentionsInput.css" />
        <link rel="stylesheet" href="../css/popup.css" />
        <link rel="stylesheet" href="../css/font-awesome.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    </head>

    <body>
        <div class="nav-container"></div>

        <div class="container2">
            <div class="content-container"></div>
        </div>

        <!-- BEGIN: Underscore Template Definition. -->
        <!-- Nav template -->
        <script type="text/template" id="nav_template">

        <div class="navbar">
            <div class="navbar-inner nav-bg">
                <a class="brand" href="<%= baseUrl %>">
                    <img class="logo" src="/img/eye.png"/>
                </a>
                <ul class="nav topbar">
                    <% if( loggedIn ) { %>
                        <li id="home_tab" class="nav-tab active">
                            <a>Home</a>
                        </li>
                        <li id="values_tab" class="nav-tab">
                            <a>This Page</a>
                        </li>
                        <li id="settings">
                        	<a href="<%= baseUrl %>/accounts/profile/edit" target="_blank">Settings</a>
                        </li>
                        <li id="logout">
                            <a href="<%= baseUrl %>/accounts/logout/">Logout</a>
                        </li>
                    <%} else {%>
                        <li id="login_tab" class="nav-tab">
                            <a href="<%= baseUrl %>/accounts/login/">Login</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>

        </script>

        <!-- Login template -->
        <script type="text/template" id="login_template">

            <div class="row">
                <div id="login_container" class="offset2 span4">
                    <div class="eyebrowse-logo">eyebrowse</div>
                    <div id="errors" class="alert alert-error"></div>
                    <p>
                        <input id="id_username" type="text" placeholder="Username" name="username" maxlength="30" />
                    </p>
                    <p>
                        <input type="password" placeholder="Password" name="password" id="id_password" />
                    </p>

                    <input class="btn btn-primary" data-loading-text="Loading..." id="login" type="submit" value="Login" />
                    <a class="login-text" href="<%= baseUrl %>/accounts/password/reset/">Forgot Password?</a>
                    <a href="<%= baseUrl %>/accounts/register/" class="login-text">Create Account </a>
                    <input type="hidden" name="next" value="" />
                </div>
            </div>

        </script>

        <!-- Welcome template -->
        <script type="text/template" id="splash_template">
    <div id="navlinks">
      <div id="userpic"></div>
      <div id="rightnav">
        <div id="username"></div>
        <div id="navSubLinks"></div>
      </div>
    </div>
    <div class="row well3 offset1 span4" id="upperarea">
      <div id="stats"></div>
      <div id="btitle">Bulletin Board</div>
            <div id="pagefeed"></div>
          <textarea id="messagebox" maxlength=300 class="mention" placeholder="Post a Note to this page and to your Eyebrowse feed simultaneously"></textarea>
          <button class="btn" id="submitmessage">Submit</button>
          <input type="checkbox" class="fb-checkbox"></input><span class="fb-label">Share to <i style="color:#3b5998" class="fa fa-facebook-official" aria-hidden="true"></i></span>
        </div>
          <div class="row well3 offset1 span4" id="lowerarea">
            <div id="chatwrapper">
                <div id="chatuserbox"></div>
                <div id="chattingarea">
                <div id="btitle2">Chat Room</div>
                <div id="chatmessage"></div>
                <textarea class="mention" type="text" maxlength=2000 id="textbox" placeholder="Post a Chat Message to this page"></textarea>
                </div>
            </div>

          </div>

        </script>

        <!-- page feed template -->
        <script type="text/template" id="page-feed-template">
          <div class="pagefeed_item">
            <span class="pagefeed_text">
              <a target="_blank" href="<% user_url %>">
                <img align="left" src="<%= pic_url %>" title="<%= username %>"
                class="nav-prof-img2 img-rounded">
              </a>
                  <%= message %>
              <div class="right">
                <span class="message-name">
                  <a target="_blank" href="<%= user_url %>"> <%= username %> </a>
                </span>
              <span class="date"> <%= hum_time %> </span>
              </div>
            </span>
          </div>

        </script>

        <!-- chat user template -->
        <script type="text/template" id="chat-user-template">
          <div id="<%= username %>">
            <a target="_blank" href="<%= user_url %>">
              <img src="<%= pic_url %>" title="<%= username %>"
                class="nav-prof-img img-rounded older<%=old_level%>">
              <span class="name"> <%= username %> </span>
            </a><br>
            <span class="ago-time"> <%= time_ago %> ago </span>
          </div>
        </script>

        <!-- own chat message template -->
        <script type="text/template" id="own-chat-msg-template">
            <div class="my_message">
              <div class="message-text"> <%= message %> </div>
              <div class="date"> <%= hum_time %> </div>
            </div>
        </script>

        <!-- their chat message template -->
        <script type="text/template" id="their-chat-msg-template">
            <div class="their_message">
              <div class="message-text"> <%= message %> </div>
              <div class="date">
                <a target="_blank" href="<%= author_url %>">
                  <%= author %>
                </a>
                <%= hum_time %>
              </div>
            </div>
        </script>

        <!-- stats template -->
        <script type="text/template" id="stats-template">
          <table class="stat_table">
            <tr>
              <td>
                <div class="stat_title">
                  <a target="_blank" href="<%= window.g_url %>">
                    This Page
                  </a>
                </div>
                <div class="my_stats">
                  Me: <%= my_count %>, <%= my_time %> a visit
                  <br>
                  Everyone: <%= total_count %>, <%= total_time %> a visit
                </div>
              </td>
              <td>
              <div class="stat_title">
                <a target="_blank" href="http://<%= host %>">
                 <%= host %>
                </a>
              </div>
              <div class="my_stats">
                Me: <%= my_dcount %>, <%= my_dtime %> a visit
                <br>
                Everyone: <%= total_dcount %>, <%= total_dtime %> a visit
              </div>
            </tr>
          </table>
        </script>

        <script type="text/template" id="value_title_template">
          <div class="value_wrapper">
            <div class="value_page_info">
              <div class="value_page_title">
                <%= page.title %>
              </div>
              <div class="value_page_domain">
                <img class="favicon" src="<%= page.favicon %>"> <%= page.domain.name %>
              </div>
            </div>
            <div class="value_content"></div>
          </div>
        </script>

        <script type="text/template" id="value_display_template">
          <div class="value_tabs">
            <ul class="value_tab_nav">
              <li class="value_framing active">Framing</lli>
              <li class="value_comp">Recommendations</li>
              <li class="value_summary ">Summary</li>
            </ul>
          </div>
          <div class="value_subtext">
            <%= subtitle_text %>
          </div>
          <div class="value_boxes">
            <div class="usergenerated_values">
              <p class="subtitle"><%= user_header_text %></p>
            </div>
            <div class="autogenerated_values">
              <p class="subtitle"><%= auto_header_text %></p>
            </div>
          </div>
          <div class="value_highlight_btn"></div>
        </script>

        <script type="text/template" id="value_template">

        <div class="value_container">
            <span class="value_box <%= value.name %>"  style="background-color: <%= color %>;">
              <%= value.name %>
            </span>
            <span class="value_desc <%= value.name %>"> <%= value.description %> </span>
        </div>

        </script>

        <script type="text/template" id="value_comp_template">
          <div class="value_tabs">
            <ul class="value_tab_nav">
              <li class="value_framing">Framing</lli>
              <li class="value_comp active">Recommendations</li>
              <li class="value_summary ">Summary</li>
            </ul>
          </div>
          <div class="value_comps">
          </div>
        </script>

        <script type="text/template" id="value_summary_template">
          <div class="value_tabs">
            <ul class="value_tab_nav">
              <li class="value_framing">Framing</lli>
              <li class="value_comp">Recommendations</li>
              <li class="value_summary active">Summary</li>
            </ul>
          </div>
          <div class="value_summary_box">
            <div class="value_summary_header">Page Summary</div>
            <% if (Object.keys(value_tags).length > 0) { %>
              <div class="value_summary_subtitle subtitle">Tags in this page&#39;s content</div>
              <div class="value_summary_tags">
                <% _.each(value_tags, function(tag){ %>
                  <div class="story_tag" style="background-color: <%= tag.color %>"><%= tag.name %></div>
                <% }); %>
              </div>
            <% } %>
            <div class="value_summary_helpertext"></div>
            <div class="value_summary_wrapper">
              <div class="value_summary_text" maxlength=500>
                <%= summary %>
              </div>
              <div class="value_summary_edit"><i class="fa fa-pencil" aria-hidden="true"></i></div>
            </div>
            <div class="value_summary_editinfo subtext-dark">Last edited by <span id="edited_user"><%= editor %></span> at <span id="edited_time"><%= time %></span>
            </div>
            <div class="value_summary_counter subtext-light"><span id="count"><%= count %></span> characters remaining</div>
          </div>
        </script>

        <script type="text/template" id="relatedstories_template">
          <div class="story_container" link="<%= link %>">
            <div class="story_source <%= id %>">
              <% if (logo !== "") { %>
                <img class="favicon" src="<%= logo %>"> 
              <% } %>
              <%= source %>
            </div>
            <div class="story_title <%= id %>">
              <%= title %>
            </div>
            <div class="story_desc <%= id %>"> <%= summary %> </div>
            <div class="story_tags <%= id %>">
              <% _.each(value_tags, function(tag){ %>
                <div class="story_tag <%= id %>" style="background-color: <%= tag.color %>"><%= tag.name %></div>
              <% }); %>
            </div>
          </div>
        </script> 

        <script type="text/template" id="highlight_toggle_template">
          <div class="highlighting_toggle <%= class_name %>">
            <span class="highlighting_state"><%= state %></span>
            highlighting
          </div>
        </script>
        <!-- END: Underscore Template Definition. -->

        <!--  javascript -->

        <!-- libs -->
        <script src="../libs/jquery-1.8.2.min.js"></script>
        <script src="../libs/underscore.min.js"></script>
        <script src="../libs/backbone.min.js"></script>
         <script src="../libs/bootstrap-button.min.js"></script>
        <script src="../libs/sprintf-0.7-beta1.min.js"></script>
        <script src="../libs/moment.min.js"></script>
        <script src="../libs/jquery.mentionsInput.js"></script>

        <!-- scripts -->
        <script src="../js/common.js"></script>
        <script src="../js/popup.js"></script>
    </body>
</html>
