<!-- BEGIN: Underscore Template Definition. -->
<!-- track prompt template -->
<div id="track-prompt" class="eyebrowse-reset">
  <div id="eyebrowse-frame" class="eyebrowse-frame">
    <span class="eyebrowse-prompt-msg">
      <button type="button" id="eyebrowse-close-btn"
        class="eyebrowse-close" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <span>
        Track activity from <br/> <%= url %>
      </span>
      <br/>
      <p class="eyebrowse-btn-container">
        <button id="eyebrowse-allow-btn" type="button" value="Yes"
        class="eyebrowse-btn eyebrowse-allow-btn"> Yes </button>
        <button id="eyebrowse-deny-btn" type="button" value="No"
        class="eyebrowse-btn eyebrowse-deny-btn"> No </button>
      </p>
  </div>
</div>

<!-- login prompt template -->
<div id="login-prompt" class="eyebrowse-reset">
  <div id="eyebrowse-frame" class="eyebrowse-frame">
    <span class="eyebrowse-prompt-msg">
      <button type="button" id="eyebrowse-close-btn"
        class="eyebrowse-close" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      You've been logged out of Eyebrowse. Log back in by click the icon above.
    </span>
    <br/>
    <p class="eyebrowse-btn-container">
      <button id="eyebrowse-ignore-btn" type="button" value="Ignore"
        class="eyebrowse-btn"> Ignore </button>
    </p>
  </div>
</div>

<!-- bubble prompt template -->
<div id="bubble-prompt" class="eyebrowse-reset">
  <div id="eyebrowse-frame" class="eyebrowse-frame eyebrowse-bubble-frame" style="width: <%= msgContainerWidth %>">
    <button type="button" id="eyebrowse-close-btn"
      class="eyebrowse-close eyebrowse-bubble-close" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <div class="eyebrowse-bubble-msg-container">
      <% if ( msg ) { %>
          <%= msg %>
        <% if ( user_url ) { %>
          - <a href = "<%= user_url %>" title="<%= username %>" target="_blank"><%= username %></a>
        <% } %>
        <%= about_message %>
      <% } %>
      <div class="eyebrowse-bubble-user-wrapper">
        <div class="eyebrowse-bubble-user-container" style="top: <%= userContainerTop %>">
          <% _.each(users, function(user) { %>
          <a href="<%= user.url %>" target="_blank"
            title="<%= user.username %> - <%= user.time_ago %> ago">
            <img class="eyebrowse-bubble-user-icon
            eyebrowse-bubble-old-level-<%= user.old_level %>">
          </a>
        </div>
        <% }); %>
      </div>
  </div>
</div>
<!-- END: Underscore Template Definition. -->
